.mainbody-container {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /* height: 100vh; */
}

.mainbody-container {
    padding-top: 60px;
}

.container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__content .technobyte {
    text-align: center;
    width: 137px;
    background-color: var(--technobyte-bg-color);
    margin-top: 40px;
}

.container__content .technobyte .name {
    font-size: 16.9px;
    font-family: var(--primary-font-family);
    font-weight: normal;
    color: var(--technobyte-text-color);
    position: relative;
    margin-top: -7px !important;
    opacity: 0.9;

}

.container__content .catchphrase {
    line-height: 6;
    margin-bottom: 25px;
    letter-spacing: -5.9px;
    text-align: center;
}

.container__content .catchphrase h1 {
    font-size: 80px;
    font-weight: 500;
    color: var(--technobyte-text-color);
    font-family: var(--primary-font-family);
}

.container__content .catchphrase-for {
    font-size: 80px;
    font-family: var(--primary-font-family);
    color: var(--primary-color);
}

.container__content .message {
    margin-bottom: 25px;
    line-height: 2;
    padding-inline-end: 0px 460px !important;
    width: 450px;
    font-size: 16px;
    font-family: var(--secondary-font-family);
    font-weight: 300;
    color: var(--p-text-color) !important;

}


.container__content .letsworktogether {
    transition: all 0.5s ease;
    width: 220px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: 17px;
    font-weight: 500;
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
}

.container__content .letsworktogether:hover {
    background: none;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}

/* media queries */

@media screen and (min-width: 600px) and (max-width: 800px) {

    .container__content .catchphrase-for {
        font-size: 60px !important;

    }

    h1 {
        font-size: 60px !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px) {

    .container__content .catchphrase-for {
        font-size: 50px !important;
    }

    h1 {
        font-size: 50px !important;
    }

    .container__content.message {
        font-size: 12px !important;
        letter-spacing: 0.2px !important;
        width: 250px !important;
    }
}

@media screen and (max-width: 380px) {
    .container__content.message {
        font-size: 12px !important;
        letter-spacing: 0.3px;
        width: 290px !important;
    }

}

@media screen and (max-width: 450px) {
    .container__content.message {
        font-size: 12px !important;
        letter-spacing: 0.3px;
        width: 280px !important;
    }

    .container__content .catchphrase-for {
        font-size: 44px !important;
        letter-spacing: -5.0px;
    }

    h1 {
        font-size: 44px !important;
        letter-spacing: -5.0px;
    }

}

@media screen and (max-width: 650px) {
    .container__content .message {
        width: 350px;
        font-size: 13px;
    }
}


@media screen and (max-width: 420px) {
    .container__content .message {
        width: 280px;
        font-size: 12px;
    }

    h1 {
        font-size: 38px !important;
    }

    .container__content .catchphrase-for {
        font-size: 38px !important;
        width: 250px;
    }

}

@media screen and (max-width: 300px) {
    .container__content .message {
        width: 220px;
        font-size: 12px;
    }

    h1 {
        font-size: 40px !important;
        letter-spacing: -3px;
        /* color: red !important; */
    }

    .container__content .catchphrase-for {
        font-size: 40px !important;
        width: 250px;
        letter-spacing: -3px;
    }

    .container__content .letsworktogether {

        width: 180px;
        height: 55px;

    }

}