.mainbody-container {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /* height: 100vh; */
}

.mainbody-container {
    padding-top: 60px;
}

.container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__content .technobyte {
    text-align: center;
    width: 195px;
    background-color: var(--technobyte-bg-color);
}

.container__content .technobyte .name {
    font-size: 21px;
    font-family: var(--primary-font-family);
    font-weight: normal;
    color: var(--technobyte-text-color);
    position: relative;
    margin-top: -8px !important;

}

.container__content .catchphrase {
    line-height: 6;
    margin-bottom: 25px;
    letter-spacing: -2.5px;
    text-align: center;
}

.container__content .catchphrase h1 {
    font-size: 70px;
    font-weight: 500;
    color: var(--technobyte-text-color);
    font-family: var(--primary-font-family);
}

.container__content .catchphrase-for {
    font-size: 70px;
    font-family: var(--primary-font-family);
    color: var(--primary-color);
}

.container__content .message {
    margin-bottom: 25px;
    line-height: 2;
    padding-inline-end: 0px 460px !important;
    width: 400px;
    font-size: 14px;
    font-family: var(--secondary-font-family);
    font-weight: 300;
    color: var(--p-text-color) !important;

}


.container__content .letsworktogether {
    transition: all 0.5s ease;
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: 17px;
    font-weight: 500;
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
}

.container__content .letsworktogether:hover {
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* media queries */

@media screen and (max-width: 450px) {
    .container__content.message {
        font-size: 12px !important;
        letter-spacing: 0.3px;
        width: 300px !important;
    }

    .container__content .catchphrase-for {
        font-size: 28px !important;
        letter-spacing: 0.2px;
    }

    h1 {
        font-size: 26px !important;
        letter-spacing: 0.6px;
    }

}

@media screen and (max-width: 380px) {
    .container__content .message {
        width: 300px;
    }
}



@media screen and (max-width: 280px) {
    .container__content .message {
        width: 250px;
    }

    h1 {
        font-size: 25px !important;
    }

    .container__content .catchphrase-for {
        font-size: 25px !important;
        width: 250px;
    }

}