@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.services-container {
    background: #141514;
    color: #d0eade;
    font-family: "Inter";
    overflow-y: hidden;
    padding-top: 80px !important;
}


.services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catchphrase {
    margin-top: 70px;
    margin-bottom: 70px;
}

.title {
    overflow: hidden;
    color: var(--heading-text-color);
    font-weight: bold;
    font-family: var(--primary-font-family);
    font-size: 40px;
}


.top-container>.cancel {
    margin-right: 30px !important;
    margin-left: -28px;
}

.card {
    border: 1.5px solid #424141;
    background-color: #2B2B2B;
    height: 165px !important;
    width: 260px !important;
    overflow: hidden;
    font-size: 13px;
    border-radius: 0px;
}

/* 
.BrainhubCarousel__trackContainer>ul :not(div) {
    padding-top: 30px !important;
} */

.our-services {
    height: 280px !important;
    width: 720px !important;
}

.top-container {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: flex-end !important;
    height: 45px;
}

.service-name {
    margin-top: 35px;
    font-size: 16px;
    margin-left: 13px;

}

.patch-icon {
    color: #17dd7d;
    font-size: 22px;
    margin-right: 13px;
}


.bio {
    display: flex;
    border-bottom: 1.5px solid #424141;
    padding-bottom: 5px;
    justify-content: center;
    padding-right: 20px;
}

.namepos {
    overflow-y: hidden;
    margin-left: 5px;
    margin-top: 7px;
}

.user-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1.3px solid #17dd7d;
    margin-right: 14px;
}

.name {
    color: #d0eade;
    margin-bottom: 0 !important;
    font-weight: 600;
    font-size: 14px;
}

.position {
    color: #adc0b6;
}

.description {
    color: #adc0b6;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 30px;
}

.prevArrow {
    position: absolute;
    top: 40%;
    left: 2px;
    z-index: 100;
    cursor: pointer;
    font-size: 2rem;
}

.card p {
    overflow: hidden;
}

.nextArrow {
    position: absolute;
    top: 40%;
    right: -1px;
    z-index: 100;
    cursor: pointer;
    font-size: 2rem;
}

.green {
    color: #61b14b;

}

.yellow,
.green {
    margin: 0px 8px;
    font-size: 15px;
    border-radius: 50%;
    height: 15.2px;
    width: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

.yellow {
    margin-right: 2px;
}

@media (max-width: 1040px) {
    .cards {
        margin: 0px 4px;
    }


}

@media (max-width: 770px) {

    .our-services {
        height: 350px !important;
        width: 460px !important;
        margin-right: 10px;
    }

    .service-name,
    .patch-icon {
        font-size: 16px;
    }

    .service-name {
        margin-left: 0px !important;
    }



    .top-container {
        height: 48px;
        padding-top: 3px;
    }


}


@media (max-width: 575px) {
    .our-services {
        height: 540px !important;
        width: 300px !important;
    }
}

@media (max-width: 465px) {

    .card {
        height: 260px !important;
        width: 200px !important;
    }

    .cards {
        padding-right: 13px;
    }



    .namepos {
        padding-left: 10px;
    }

    .bio {
        padding-left: 7px;
        flex-direction: column;
        height: 146px;
    }


    .user-img {
        height: 50px;
        width: 50px;
        margin-left: 10px;
    }

    .our-services {
        height: 500px !important;
        width: 280px !important;

    }

    .service-name,
    .patch-icon {
        font-size: 13.2px;
    }

    .service-name {
        margin-left: 0px !important;
    }

    .top-container {
        height: 48px;
        padding-top: 3px;
    }
}

@media (max-width: 330px) {

    .card {
        height: 265px !important;
        width: 200px !important;
    }

    .cards {
        margin-left: 0px !important;
    }

    .our-services {
        height: 620px !important;
        width: 200px !important;
        overflow-y: hidden;

    }

    .service-name,
    .patch-icon {
        font-size: 13px;
    }

    .service-name {
        margin-left: 0px !important;
    }


    .namepos {
        padding-left: 1px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        margin-left: 10px;

    }

    .top-container {
        height: 48px;
        padding-top: 2px;
    }

    .bio {
        flex-direction: column;
    }

    .user-img {
        height: 50px;
        width: 50px;
        margin-left: 10px;
    }
}

/* Galaxy fold */
@media (max-width: 280px) {

    .user-img {
        height: 50px;
        width: 50px;
        margin-left: 10px;
    }

    .card {
        width: 180px !important;
        height: 280px !important;
        margin-left: 10px;
    }

    .our-services {
        margin-left: 10px;
        height: 500px !important;
        width: 240px !important;
        overflow-y: hidden;
    }
}