.mainbody-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: $secondary-color;
  // margin-top: 1.5px;

  &__left {
    flex: 0.5;
    padding-left: 110px;
    padding-top: 130px;

    .left-container__content {
      width: 500px;
      height: 350px;

      .technobyte {
        text-align: center;
        padding: 5px;
        border-radius: 40px;
        width: 170px;
        margin-bottom: 25px;
        background-color: $technobyte-bg-color;
        @include set-text-style(15px,
          Regular,
          $primary-font-family,
          300,
          $technobyte-text-color);
      }

      .catchphrase {
        line-height: 1;
        margin-bottom: 25px;
        letter-spacing: -4.5px;

        h1 {
          @include set-text-style(45px,
            Medium,
            $primary-font-family,
            500,
            $technobyte-text-color);
        }

        &-for {
          @include set-text-style(45px,
            Medium,
            $primary-font-family,
            500,
            $primary-color);
        }
      }

      .messaage {
        margin-bottom: 25px;
        line-height: 2;

        @include set-text-style(14px,
          Regular,
          $secondary-font-family,
          300,
          $text-color);
      }

      .letsworktogether {
        width: 220px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: $primary-color;
        @include set-text-style(15px,
          Bold,
          $secondary-font-family,
          500,
          $secondary-color);
      }
    }
  }

  &__arrow {
    background: "#918b8a",
      colo // border-radiud: borderRadius: "50%",
      // width: 35,
      // height: 35,
  }

  .arrow {
    background: "#918b8a",
      // border-radius: "50%",
      // width: 35,
      // height: 35,
  }

  &__right {
    flex: 0.5;
  }
}