.navbar-container {
  background: $secondary-color;
  display: flex;
  align-items: center;
  // height: 90px;
  position: fixed;
  width: 100vw;
  font-size: 1rem;
  top: 0;
  color: #fff;


  &__logo {
    flex: 0.25;
    text-align: center;
  }



  &__link {
    flex: 1;
    display: flex;
    justify-content: center;

    @include set-text-style(17px,
      Regular,
      $primary-font-family,
      300,
      $text-color);

    .navbar-link__item {
      display: flex;
      flex: 0.2;
      justify-content: space-around;
      list-style-type: none;
      cursor: pointer;
      text-decoration: none;
      color: #fff !important;
    }


  }


  &__contactus {
    flex: 0.25;
    text-align: center;

    @include set-text-style(17px,
      Regular,
      $primary-font-family,
      300,
      $primary-color);

    .contact-container {
      padding: 10px;
      cursor: pointer;
      width: 120px;
      color: white;
      text-decoration: none;
      border: 1px solid $primary-color;
    }

    .contact-container:hover {
      background: $primary-color;
      color: black;
    }
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../image/download\ \(1\).svg") !important;

}

.active {
  text-decoration: none;
  color: #01bf71;
}

a:hover {
  color: #fff;
}