@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$primary-color: #17dd7d;
$secondary-color: #141514;

$technobyte-bg-color: #142e22;
$technobyte-text-color: #d0eade;
$text-color: #e5fbf0;

$primary-font-family: "Karla",
sans-serif;
$secondary-font-family: "Inter",
sans-serif;

@mixin set-text-style($font-size,
  $font-style,
  $font-family,
  $font-weight,
  $font-color) {
  font-size: $font-size;
  font-style: $font-style;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $font-color;
}