.faq-container {
    background: #141514;
    color: #d0eade;
    font-family: "Inter";
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px !important;
    padding-bottom: 80px !important;

}


.faq-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .row .col {
    background-color: #2b2b2b !important;
    border-radius: 20px;

} */


.faq_questions {
    color: white;
}

.faq_answer {
    color: #90b19f;
    text-align: justify;
}

.FAQ-heading {
    color: #9fe7bf;
    overflow: hidden;
    font-family: "Karla", sans-serif;
    color: #d0eade;
}


.faq-qa {

    columns: 2 auto;
    column-gap: 60px !important;

}



.row {
    padding-top: 20px;
}

@media screen and (max-width: 400px) {

    .faq_answer {
        text-align: start;
    }
}

@media screen and (max-width: 1200px) {
    .faq-content {
        padding: 0px !important;
    }
}

@media screen and (max-width: 1000px) and (min-width: 200px) {
    .faq-qa {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 700px) {
    .faq-content {
        padding: 0px 60px
    }
}



button {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-family: inherit;
    text-align: left;
}

/* || CONTAINER */

.container {

    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

/* || SECTION LEFT PART */

.interactive-box-image {
    position: absolute;
    top: 43%;
    left: calc(10% + 8px);
    z-index: 1;
    transition: transform 0.2s ease-in;
}

.interactive-box-image.moved {
    transform: translateX(-30px);
}

.faq {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 2em;
    overflow-y: hidden;
}

.faq__left {
    position: relative;
    min-width: 40%;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


/* || SECTION RIGHT PART */

.faq__right {
    padding-left: 4em;
    padding-top: 1.9em;
    flex: 1;
}

.faq-picture {
    margin-right: 200px !important;
}

.faq__button {
    padding: 1em 10px 1em 0;
    font-size: 1.0rem;
    width: 100%;
    border-bottom: 1px solid hsl(240, 2%, 16%);
    cursor: pointer;
    position: relative;
    color: #d0eade;
}

.faq__button:hover {
    color: var(--primary-color);
}


.faq__button::after {
    content: "";
    width: 10px;
    height: 7px;
    background: url("../../assets/image/icon-arrow-down.svg") no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.faq__button.active {
    font-weight: 700;
    border-bottom: 0;
}

.faq__button.active::after {
    transform: translateY(-50%) rotate(180deg);
}

.faq dd {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}



.faq__desc {
    color: #b1cabd;
    padding: 1em 0;
    font-size: 1rem;
}




@media screen and (max-width: 768px) {

    .faq {
        flex-direction: column;

    }

    .faq__left {
        overflow-x: visible;
        left: 20%;
    }

    .faq__picture {
        left: 65%;
        transform: translate(-47%, -50%);
    }

    .faq__right {
        padding: 8em 2em 0em 2em;
        overflow-y: hidden;
    }

    .faq__heading {
        text-align: center;
        margin-top: 1em;
    }
}

@media screen and (min-width: 778px) and (max-width: 992px) {
    .faq__left {
        min-width: 35%;
        top: 80px;
    }

    .faq__right {
        overflow-y: hidden;
    }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
    .faq__left {
        min-width: 35%;
        top: 80px;
        left: 27%;
    }

    .faq__right {
        overflow-y: hidden;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .faq__left {
        left: 15%;
    }
}

@media screen and (min-width: 200px) and (max-width: 400px) {

    .desktop {
        width: 200px !important;
    }
}

@media screen and (max-width: 300px) {
    .faq__left {
        left: 10%;
    }
}


@media screen and (max-width: 1200px) {
    .faq {
        width: 90%;
    }
}