@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.howwework-container {
    padding: 0px !important;
    font-family: "Inter";
}

.howwework-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    height: 150px !important;
    width: 410px !important;
    border: 1.5px solid #424141;
    background-color: #2B2B2B;
    overflow: hidden;
    border-radius: 0px;
}

.cards {
    justify-content: center;
    align-items: center;

}

.card-head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1.7px solid #424141;
}

.method {
    display: flex;
    padding-bottom: 5px;
    height: 40px;
    color: white;
    align-items: center;
    padding-left: 30px;
}

.icon {
    color: #17dd7d;
    font-size: 22px !important;

}

.type {
    margin-left: 10px;
    font-size: 19px;
    /* letter-spacing: 1px; */
}


.cancel {
    border-radius: 50%;
    background-color: #cf3f50;
    font-size: 12px !important;
    font-weight: 900 !important;
    color: #1a1c19;
    height: 15.2px;
    width: 15px;
    overflow: hidden;
    position: relative;
    right: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0px !important;
}

.describe {
    /* margin-top: 8px !important; */
    color: #b3dbc6;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17.8px;

}

.arrow {
    font-weight: 300 !important;
    font-size: 42px !important;
}

@media (min-width: 1100px) {
    .describe {
        margin-top: 27px !important;
    }
}


@media (max-width: 1100px) {
    .card-container {
        height: 170px !important;
        width: 320px !important;
        margin-left: 12px !important;
    }

    .describe {
        margin-top: 27px !important;
    }

    .arrow-right {
        margin-left: -20px;
    }

    .arrow-up {
        margin-left: 40px;
    }

    .arrow-down {
        margin-right: 60px;
    }

    .arrow-left {
        margin-left: 20px !important;
    }

}


@media (max-width: 880px) and (min-width: 660px) {

    .card-container {
        height: 160px !important;
        width: 270px !important;
        margin-left: 10px !important;
    }

    .type {
        font-size: 12.47x;
        margin-right: 30px;
    }

    .describe {
        font-size: 15.2px;
        margin-bottom: 0px !important;
    }

    .cancel {
        margin-right: 35px;
    }

    .arrow-right {
        margin-left: -20px;
    }

    .arrow-up {
        margin-left: 40px;
    }

    .arrow-down {
        margin-right: 60px;
    }

    .arrow-left {
        margin-left: 20px !important;
    }
}


@media (max-width: 768px) {

    .card-container {
        height: 160px !important;
        width: 350px !important;
        margin-left: 10px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .type {
        font-size: 19px;
    }

    .describe {
        font-size: 16px;
    }

    .arrows {
        display: none;
    }
}

@media (max-width: 570px) {

    .card-container {
        height: 165px !important;
        width: 280px !important;
    }

    .arrows {
        display: none;
    }
}

@media (min-width: 200px) and (max-width: 770px) {
    .card-container {
        margin-bottom: 40px !important;
    }
}

@media (max-width: 500px) {


    .card-container {
        height: 170px !important;
        width: 280px !important;
        margin-left: 15px !important;
    }

    .type {
        font-size: 15px;
    }
}

@media (max-width: 380px) {

    .card-container {
        height: 160px !important;
        width: 280px !important;
    }

    .arrows {
        display: none;
    }

    .type {
        font-size: 13.4px;
        margin-right: 10px;
        /* letter-spacing: 1px; */
    }

    .cancel {
        margin-right: 20px;
    }
}


@media (max-width: 380px) and (min-width: 320px) {

    .card-container {
        height: 185px !important;
        width: 250px !important;
        margin-left: 22px !important;
    }

    .arrows {
        display: none;
    }

    .describe {
        font-size: 16px;
    }
}

@media (max-width: 320px) {

    .card-container {
        height: 130px !important;
        width: 230px !important;
        margin-left: 10px !important;
    }

    .type {
        font-size: 11.8px;
        margin-right: 10px;
        font-weight: medium;
    }

    .describe {
        font-size: 11px;
    }

    .arrows {
        display: none;
    }
}

@media (max-width: 300px) {

    .card-container {
        height: 130px !important;
        width: 200px !important;
        margin-left: 15px !important;

    }


    .type {
        font-size: 11px;
        margin-right: 0px;

    }

    .cancel {
        margin-right: 35px;
    }

    .describe {
        font-size: 10px;
    }

    .arrows {
        display: none;
    }
}