.faq-container {
    background: #141514;
    color: #d0eade;
    font-family: "Inter";
    overflow: hidden;
    /* padding-top: 100px !important; */
    height: 100vh !important;
}


.faq_questions {
    color: white;
}

.faq_answer {
    color: #90b19f;
}

.FAQ-heading {
    color: #9fe7bf;
    overflow: hidden;
    font-family: "Karla", sans-serif;
    color: #d0eade;
}