.faq-container {
    background: #141514;
    color: #d0eade;
    font-family: "Inter";
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.faq-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.faq_questions {
    color: white;
}

.faq_answer {
    color: #90b19f;
}

.FAQ-heading {
    color: #9fe7bf;
    overflow: hidden;
    font-family: "Karla", sans-serif;
    color: #d0eade;
}

.arrow-top {
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    position: absolute;
    top: 3110px;

}