.contact-container {
  background: #1a1c19;
  color: var(--text-color);
  font-family: var(--primary-font-family);
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catchphrase {
  margin-top: 70px;
}

.catchphrase h5 {
  overflow: hidden;
  color: var(--text-color);
}

.catchphrase h7 {
  color: var(--technobyte-text-color);
  font-size: 17px;
}

.email {
  margin-top: 40px;
}

.input-group-text {
  border: 1px solid #738079;
  background-color: #2b2b2b;
  color: var(--primary-color);
  border-radius: 0px;
  border-right: none;
  font-size: 22px;
}

.input {
  background: none;
}

.input,
.input:focus {
  border-radius: 0%;
  border: 1px solid #738079;
  background-color: rgb(32, 31, 31);
  color: #47544c;
  border-left: none;
  box-shadow: none;
  height: 50px;
}

.send {
  transition: all 0.5s ease;
  cursor: pointer;
  border: none;
  color: black;
  height: 50px;
  font-weight: 600;
  background-color: var(--primary-color);
  text-align: center;
  width: 80px;
}

.send:hover {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.copyright {
  color: var(--technobyte-text-color);
  padding-top: 100px;
  margin-bottom: 40px;
  font-size: 14px;
}

.find-us {
  font-size: 18px;
  padding-top: 80px;
  font-weight: 600;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-top {
  bottom: -2325px;
  text-align: center;
  left: 618px;
}

.social-media {
  background-color: #2b2b2b;
  border-radius: 0px;
  border-right: none;
  font-size: 18px;
  height: 40px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 14px;
  /* 28px 14px */
  cursor: pointer;
  transition: all 0.5s ease;
  color: var(--primary-color);
}

.social-media:hover {
  background-color: var(--primary-color);
  color: #2b2b2b;
}

@media (max-width: 280px) {
  .catchphrase,
  .email {
    padding: 0px 20px;
  }
}
